<ion-header>
  <ion-toolbar>
    <ion-title>Song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="saveSong(form)" method="post">

    <ion-label position="floating">Song's title:</ion-label>
    <ion-item>
      <ion-input [(ngModel)]="song.title" type="text" name="title" maxlength="45" required placeholder="Song's title">
      </ion-input>
    </ion-item>

    <!-- IMAGE -->
    <ion-item>
      <p>{{imageURI}}</p>
      <ion-button color="secondary" (click)="getFile('JPG')">Choose Image</ion-button>
    </ion-item>

    <ion-item>
      <h4>Image Preview</h4>
      <img [src]="song.image" name="image" alt="Ionic File" width="300" />
    </ion-item>
    <input #inputImage class="inputUpload" type="file" accept="image/*" capture="camera" [hidden]=true />

    <!-- MP3 -->
    <ion-item>
      <!-- <p>{{mp3URI}}</p> -->
      <ion-button color="secondary" (click)="getFile('MP3')">Choose Song</ion-button>
    </ion-item>

    <input #inputMP3 class="inputUpload" type="file" accept="mp3/*" [hidden]=true />


    <ion-fab vertical="botton" horizontal="top" slot="fixed">
      <section>
        <ion-button [disabled]="!form.valid" type="submit" color="success">Save</ion-button>
      </section>
    </ion-fab>

  </form>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>{{platformsList}}</ion-title>
    <ion-title>{{browser}}</ion-title>
  </ion-toolbar>
</ion-footer>