<ion-header>
  <ion-toolbar>
    <ion-title>Song</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form #form="ngForm" (ngSubmit)="saveSong(form)" method="post">

<ion-label position="floating">Song's title:</ion-label>
<ion-item>
    <!-- [(ngModel)]="song.title" -->
  <ion-input  type="text" name="title" maxlength="45" required
    placeholder="Song's title">
  </ion-input>
</ion-item>

<ion-fab vertical="botton" horizontal="top" slot="fixed">
<section>
      <ion-button [disabled]="!form.valid" type="submit" color="success">Save</ion-button>
    </section>
  </ion-fab> 

</form>

</ion-content>
