<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides>
        <ion-slide *ngFor="let s of slides">
            <!-- <img src="../../assets/images/{{s.id}}.jpg"> -->
            {{s.name}}
         </ion-slide>
     </ion-slides>

  <ion-item>
    <ion-button (click)="playAudio()">Play Audio</ion-button>
    <ion-button (click)="stopAudio()" color="danger">Stop Audio</ion-button>
    <ion-button (click)="pauseAudio()" color="secondary">Pause Audio</ion-button>
    <ion-button (click)="getPosition()" color="tertiary">Get Position</ion-button>
    <ion-button (click)="getDuration()" color="success">Get Duration</ion-button>
    <ion-button (click)="release()" color="warning">Release</ion-button>
  </ion-item>
</ion-content>